Repository mirages/whee: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.yml:

"*.md":
  - prettier --write
"*.{ts,tsx}":
  # prettier and eslint
  - prettier --write
  - eslint --fix
# stylelint
"*.{css,less,scss}":
  - stylelint --fix

chore: add prettier and lint ignores
  .prettierignore
  libs/motion/examples/demo.html
  libs/motion/package-lock.json
  libs/motion/package.json
  libs/motion/rollup.config.js
  libs/picker/examples/demo.html
  libs/picker/package.json
  libs/picker/src/factory/simple.ts
  libs/picker/src/scroller/index.ts
  libs/picker/types/factory/data.d.ts
  libs/picker/types/factory/datetime.d.ts
  libs/picker/types/factory/simple.d.ts
  libs/picker/types/index.d.ts
  libs/picker/types/picker/index.d.ts
  libs/picker/types/scroller/index.d.ts
  libs/picker/types/utils.d.ts
  package.json
Due: prettier --write, eslint --fix

fix(docs): add readme.md
  README.md
Due: prettier --write

refactor(libs/motion): optimize inertial scrolling effect
  libs/motion/src/index.ts
  libs/picker/package.json
Due: prettier --write, eslint --fix

chore: hoist dev dependencies
  libs/motion/package-lock.json
  libs/motion/package.json
  libs/motion/rollup.config.js
  libs/picker/package-lock.json
  libs/picker/package.json
  libs/picker/rollup.config.js
  package-lock.json
  package.json
Due: none

chore: disable some eslint rule for test file
  libs/motion/karma.conf.ts
  libs/motion/package.json
  libs/picker/package.json
  libs/picker/test/factory-datetime.test.ts
  libs/picker/test/factory-simple.test.ts
  libs/picker/test/scroller.test.ts
Due: prettier --write, eslint --fix

chore: hoist tsconfig.json for libs packages
  libs/motion/karma.conf.ts
  libs/motion/rollup.config.js
  libs/motion/tsconfig.json
  libs/picker/karma.conf.ts
  libs/picker/package.json
  libs/picker/rollup.config.js
  libs/picker/src/scroller/index.ts
  libs/tsconfig.json
Due: prettier --write, eslint --fix

build(js-motion): change output config
  libs/motion/.gitignore
  libs/motion/package-lock.json
  libs/motion/package.json
  libs/motion/rollup.config.js
  libs/motion/tsconfig.json
Due: none

build(js-picker): change output config
  libs/picker/.gitignore
  libs/picker/package-lock.json
  libs/picker/package.json
  libs/picker/rollup.config.js
  libs/picker/src/index.ts
  libs/picker/src/scroller/index.ts
  libs/picker/tsconfig.json
  libs/picker/types/index.d.ts
  libs/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(js-motion): add options.coordinate config
  .gitignore
  libs/motion/.gitignore
  libs/motion/src/index.ts
  libs/motion/types/index.d.ts
  libs/picker/.gitignore
Due: prettier --write, eslint --fix

chore: add types folder to .gitignore
  libs/motion/types/index.d.ts
  libs/picker/types/factory/data.d.ts
  libs/picker/types/factory/datetime.d.ts
  libs/picker/types/factory/simple.d.ts
  libs/picker/types/index.d.ts
  libs/picker/types/picker/index.d.ts
  libs/picker/types/scroller/index.d.ts
  libs/picker/types/utils.d.ts
Due: prettier --write, eslint --fix

chore: update examples
  libs/motion/examples/demo.html
  libs/picker/examples/demo.html
Due: none

build: external @whee/js-motion dependency
  libs/picker/package.json
  libs/picker/rollup.config.js
Due: none

refactor(js-motion): remove enum data, and Motion.Direction, Motion.Mode static properties
  libs/motion/examples/demo.html
  libs/motion/readme.md
  libs/motion/src/index.ts
  libs/motion/test/enum-direction.test.ts
  libs/motion/test/enum-mode.test.ts
  libs/motion/test/motion-instance-methods.test.ts
  libs/motion/test/motion-instance-properties.test.ts
  libs/tsconfig.json
Due: prettier --write, eslint --fix

docs(changelog): modify changelog doc before release
  libs/motion/CHANGELOG.md
Due: prettier --write

chore(release): publish js-motion-v2.0.0
  libs/motion/CHANGELOG.md
  libs/motion/package-lock.json
  libs/motion/package.json
Due: prettier --write

refactor(js-picker): update @whee/js-motion dependency, and change enum to plain object
  libs/picker/package.json
  libs/picker/rollup.config.js
  libs/picker/src/factory/datetime.ts
  libs/picker/src/index.ts
  libs/picker/src/scroller/index.ts
Due: prettier --write, eslint --fix

build: hoist the cz-conventional-changelog dev dependency
  libs/picker/package-lock.json
  libs/picker/package.json
  package.json
Due: none

build: 修改打包配置
  lerna.json
  libs/picker/rollup.config.js
  libs/tsconfig.json
  package-lock.json
  package.json
Due: none

ci: add travis.yml and upload coverage files
  .travis.yml
Due: none

ci(.travis.yml): 集成 travis ci
  .travis.yml
Due: none

ci: 集成 travis ci
  .travis.yml
  libs/motion/package.json
  libs/picker/package.json
Due: none

docs: update readme.md
  README.md
  libs/motion/readme.md
Due: prettier --write

docs: update readme.md
  libs/motion/readme.md
  libs/picker/README.md
Due: prettier --write

chore: remove libs .travis.yml files
  libs/motion/.travis.yml
  libs/picker/.travis.yml
  libs/picker/LICENSE
Due: none

feat(vue/loading): add loading vue component
  components/vue/LICENSE
  components/vue/babel.config.json
  components/vue/global.d.ts
  components/vue/package-lock.json
  components/vue/package.json
  components/vue/scripts/build.js
  components/vue/src/loading/index.less
  components/vue/src/loading/index.tsx
  components/vue/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

test(vue/loading): add test case for vue/loading component
  components/vue/babel.config.js
  components/vue/babel.config.json
  components/vue/jest.config.json
  components/vue/package-lock.json
  components/vue/package.json
  components/vue/src/loading/index.tsx
  components/vue/src/loading/test/index.test.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

build: not transform es module
  components/vue/babel.config.js
  components/vue/scripts/build.js
Due: none

chore(.lintstagedrc.yml): add *.js files to eslint
  .lintstagedrc.yml
Due: none

fix(vue/loading): change component name prefix
  components/vue/src/loading/index.tsx
Due: prettier --write, eslint --fix

test(vue/loading): add test case and snapshots
  .eslintrc.yml
  components/vue/jest.config.json
  components/vue/src/loading/test/__snapshots__/index.test.js.snap
  components/vue/src/loading/test/index.test.js
  package-lock.json
  package.json
Due: none

chore(components/vue): add script command
  components/vue/package.json
Due: none

build: external dependencies except style modules
  .eslintrc.yml
  components/vue/babel.config.js
  components/vue/scripts/build.js
Due: none

feat(vue/button): add vue button components
  components/vue/src/button/index.less
  components/vue/src/button/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(vue/button): add loading props
  components/vue/src/button/index.less
  components/vue/src/button/index.tsx
  components/vue/src/loading/index.less
  components/vue/src/loading/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

test: update vue/loading test case, and add vue/button test case
  components/vue/src/button/test/__snapshots__/index.test.js.snap
  components/vue/src/button/test/index.test.js
  components/vue/src/loading/test/__snapshots__/index.test.js.snap
Due: none

docs(vue/loading): update readme.md
  components/vue/src/loading/readme.md
Due: prettier --write

docs(vue/button): update readme.md
  components/vue/src/button/readme.md
Due: prettier --write

feat(vue/button): add feedback styles
  components/vue/src/button/index.less
  components/vue/src/button/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

test(vue/button): add test case
  components/vue/src/button/test/__snapshots__/index.test.js.snap
  components/vue/src/button/test/index.test.js
Due: none
